#canvas {
            border: 1px solid black;
}

.hide {
    display: none;
}

#credits {
  color: #DDC9B4;
  font-size: 0.9em;
  text-align: center;
  margin-top: 15px;
  font-style: italic;
  letter-spacing: 0.5px;
}